.text-title{
    text-align: center;
    color: blueviolet;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
}

.services-section{
    margin-top: 7%;
    margin-bottom: 5%;
}