.about {
    display: flex;
    justify-content: space-between;
}

.about-info {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    justify-content: center;
}

.about img {
    border-radius: 20px;
}
@media only screen and (max-width: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
    }
    .about img {
        border-radius: 20px;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {


    .about {
        display: flex;
        flex-direction: column;
    }

    .about img {
        border-radius: 20px;
        width: 100%;
    }
}